{% extends "_base.html" %}
{% block title %}Meetups{% endblock%}

{% block content %}

<div class="flex justify-center min-h-screen">
    <div class="max-w-md p-4">
        <h1 class="flex justify-center text-2xl font-semibold mb-4">Create a New Meetup</h1>
        <form method="post">
            
            {% csrf_token %}

        <div class="mb-4 w-full">
            <div class="mb-6">
                <label
                  for="glug"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Location</label>
            {{ form.location }}
        </div>
        <div class="mb-6">
            <label
              for="glug"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >GLUG</label>            
            {{ form.glug }}
        </div>
        <div class="mb-6">
            <label
              for="glug"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Date</label>
            {{ form.date }}
        </div>
        <div class="mb-4">
            {{ form.time.label_tag }}
            {{ form.time }}
        </div>
        <div class="mb-4 w-full ">
            {{ form.mode.label_tag }}
            {{ form.mode }}
        </div>
        <div class="mb-4 w-full">
            {{ form.venue.label_tag }}
            {{ form.venue}}
        </div>
        <div class="mb-4">
            {{ form.description.label_tag }}
            {{ form.description }}
        </div>
        <div class="mb-4">
            {{ form.minutes.label_tag }}
            {{ form.minutes }}
        </div>
        <div class="mb-4">
            {{ form.poster.label_tag }}
            {{ form.poster}}
        </div>

        <!-- Add similar code for other form fields -->
        <button type="submit" class="text-white font-medium rounded-lg text-base px-5 py-3 w-full sm:w-auto text-center bg-blue-700">
            <span class="flex justify-center ">Create Meetup</span>
        </button>
    </form>
    </div>
</div>


{%endblock %}
