{% extends "_mbase.html" %}
<!-- title -->
{% block title %} Profile Info {% endblock %}
<!-- form title -->
{% block formtitle %}Complete your profile{% endblock %}
<!-- helptext  -->
{% block helptext %}&ast; Information can be changed later{%endblock %}
<!-- stepper -->
{% block stepper %}
<ol class="hidden md:block space-y-4 w-72 basis-1/6 mx-auto md:mx-0 md:my-auto">
  <li>
    <div class="stepper-complete" role="alert">
      <div class="flex items-center justify-between">
        <span class="sr-only">Account</span>
        <h3 class="font-medium">1. Account info</h3>
        <svg
          aria-hidden="true"
          class="w-5 h-5"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
            clip-rule="evenodd"
          ></path>
        </svg>
      </div>
    </div>
  </li>
  <li>
    <div class="stepper-active" role="alert">
      <div class="flex items-center justify-between">
        <span class="sr-only">Profile info</span>
        <h3 class="font-medium">2. Profile info</h3>
        <svg
          aria-hidden="true"
          class="w-5 h-5"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
            clip-rule="evenodd"
          ></path>
        </svg>
      </div>
    </div>
  </li>
  <li>
    <div class="stepper-inactive" role="alert">
      <div class="flex items-center justify-between">
        <span class="sr-only">Membership</span>
        <h3 class="font-medium">3. Membership</h3>
      </div>
    </div>
  </li>
  <li>
    <div class="stepper-inactive" role="alert">
      <div class="flex items-center justify-between">
        <span class="sr-only">Payment</span>
        <h3 class="font-medium">4. Payment</h3>
      </div>
    </div>
  </li>
  <li>
    <div class="stepper-inactive" role="alert">
      <div class="flex items-center justify-between">
        <span class="sr-only">Confirmation</span>
        <h3 class="font-medium">5. Confirmation</h3>
      </div>
    </div>
  </li>
</ol>
{% endblock %}
<!-- mstepper -->
{% block mstepper %}
<ol
  class="flex md:hidden items-center justify-around overflow-clip w-full p-3 space-x-2 text-sm font-medium text-center text-gray-500 bg-white border border-gray-200 rounded-lg shadow-sm dark:text-gray-400 sm:text-base dark:bg-gray-800 dark:border-gray-700 sm:p-4 sm:space-x-4"
>
  <li class="flex items-center mstepper-complete">
    <span
      class="flex items-center justify-center w-5 h-5 mr-2 text-xs rounded-full shrink-0 mstepper-complete-border"
    >
      1
    </span>
    <span class="hidden sm:inline-flex sm:ml-2">Account Info</span>
    <svg
      class="w-3 h-3 ml-2 sm:ml-4"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 12 10"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="m7 9 4-4-4-4M1 9l4-4-4-4"
      />
    </svg>
  </li>
  <li class="flex items-center mstepper-active">
    <span
      class="flex items-center justify-center w-5 h-5 mr-2 text-xs rounded-full shrink-0 mstepper-active-border"
    >
      2
    </span>
    <span class="hidden sm:inline-flex sm:ml-2">Profile Info</span>
    <svg
      class="w-3 h-3 ml-2 sm:ml-4"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 12 10"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="m7 9 4-4-4-4M1 9l4-4-4-4"
      />
    </svg>
  </li>
  <li class="flex items-center">
    <span
      class="flex items-center justify-center w-5 h-5 mr-2 text-xs border border-gray-500 rounded-full shrink-0 dark:border-gray-400"
    >
      3
    </span>
    <span class="hidden sm:inline-flex sm:ml-2">Membership</span>
    <svg
      class="w-3 h-3 ml-2 sm:ml-4"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 12 10"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="m7 9 4-4-4-4M1 9l4-4-4-4"
      />
    </svg>
  </li>
  <li class="flex items-center">
    <span
      class="flex items-center justify-center w-5 h-5 mr-2 text-xs border border-gray-500 rounded-full shrink-0 dark:border-gray-400"
    >
      4
    </span>
    <span class="hidden sm:inline-flex sm:ml-2">Payment</span>
    <svg
      class="w-3 h-3 ml-2 sm:ml-4"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 12 10"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="m7 9 4-4-4-4M1 9l4-4-4-4"
      />
    </svg>
  </li>
  <li class="flex items-center">
    <span
      class="flex items-center justify-center w-5 h-5 mr-2 text-xs border border-gray-500 rounded-full shrink-0 dark:border-gray-400"
    >
      5
    </span>
    <span class="hidden sm:inline-flex sm:ml-2">Confirmation</span>
  </li>
</ol>
{% endblock %}
<!-- form -->
{%block content%}
<form class="mt-8" method="post" action="">
  {% csrf_token %}
  <div class="mb-6">
    <label
      for="glug"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >GLUG</label>
    {{form.glug}}
  </div>
  <div class="mb-6">
    <label
      for="institute"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Institution</label
    >
    {{form.institute}}
  </div>
  <div class="mb-6">
    <label
      for="edu_qualification"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Educational Qualification</label
    >
    {{form.edu_qualification}}
  </div>
  <div class="mb-6">
    <label
      for="occupation"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Occupation</label
    >
    {{form.occupation}}
  </div>
  <div class="mb-6">
    <label
      for="address"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Address</label
    >
    <textarea
      name="address"
      class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      rows="7"
      placeholder="House.No, Street, Nagar, Area, District, State, Country - Pincode"
    ></textarea>
  </div>
  <button
    class="text-white font-medium rounded-lg text-base px-5 py-3 w-full sm:w-auto text-center bg-blue-700"
    type="submit"
  >
    <span class="flex justify-center items-center">Save & Continue</span>
  </button>
</form>
{% endblock %}
